<h1>Listing badges</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @badges.each do |badge| %>
  <tr>
    <td><%= badge.name %></td>
    <td><%= link_to 'Show', user_badge_path(current_user, badge) %></td>
    <td><%= link_to 'Edit', edit_user_badge_path(current_user, badge) %></td>
    <td><%= link_to 'Destroy', [current_user, badge] , confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
